
.date-picker{
    -fx-border-width:0;
}


.date-picker .date-picker-display-node{
    -fx-border-color: #E6E6E6;
    -fx-border-style:solid;
    -fx-border-width:1;
}

.date-picker .arrow-button{
	-fx-background-color: #1D6F84;
}

.date-picker .arrow-button:hover{
	-fx-background-color: #278FAA;
}

.date-picker .arrow-button:pressed{
	-fx-background-color: #1A6477;
}

.date-picker .arrow-button .arrow{
	-fx-background-color: WHITE;
}